<div class="footer py-3 mt-3">
    <div class="container">
        <span class="text-muted">
            Made by Mehmet Ali Mergen. With the help of Sadik Turan        
        </span>
    </div>
</div>
